.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button.main {
  font-size: 3vmin;
  margin: 1vmin;
  padding: 0.5vmin 1.5vmin;
}

.timer {
  font-family: monospace;
}

.sticky {
  background-color: #282c34;
  position: sticky;
  top: 0;
  width: 100%;
}